/* hide scrollbar but allow scrolling */

/*.column {*/
/*    -ms-overflow-style: none;*/
/*    scrollbar-width: none;*/
/*    !*overflow-y: scroll;*!*/
/*}*/

.droppable_scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

.droppable_scroll::-webkit-scrollbar {
    display: none;
}